label {
    display:block
}
body {
    background-color: rgb(46, 165, 42);
}
body {
    font-family: 'Times New Roman';
}
body {
    font-size: medium;
}
body {
    color:darkblue
}
Uzbekistan {
    width: 300px;
}
label {
    color: darksalmon
}